[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "madshapR"]
	path = madshapR
	url = https://github.com/maelstrom-research/madshapr
[submodule "mlstrOpalr"]
	path = mlstrOpalr
	url = https://github.com/maelstrom-research/mlstropalr
